* {
    margin: 0;
    font-size: 12px;
    box-sizing: border-box;
}

body {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    background: #f3f1f1;
}

#contents {
    float: right;
    width: 80%;
    background-color: #FFFFFF;
    border: solid 1px #beccea;
    margin-bottom: 2em;
}

#child_Contents {
    padding: 0px 20px;
}

#panel-Heading {
    width: 100%;
    height: 70px;
    background: #5492c9;
    position: relative;
}

#panel_Title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 16px;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
    padding: 20px 0px 20px 10px;
}

.muLink {
    text-decoration: none;
  }