HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
{
  "java.saveActions.organizeImports": true
}

"java.project.referencedLibraries": [
    "/Users/nykagawa/work/java/library/jackson-annotations-2.13.1.jar",
    "/Users/nykagawa/work/java/library/jackson-core-2.13.1.jar",
    "/Users/nykagawa/work/java/library/jackson-databind-2.13.1.jar"
]
