<html>

<head>
    <meta http-equiv="contents-Type" contents="text/html; charset=UTF-8" />

    <title>オンラインWEBツール</title>
    <link rel="stylesheet" th:href="@{css/Home.css}" type="text/css" />
    <script type="text/javascript" th:src="@{js/library/jquery/jquery.min.js}">charset = "UTF-8"</script>
    <script type="text/javascript" th:src="@{js/Common.js}" charset="UTF-8"></script>
    <script type="text/javascript" th:src="@{js/Home.js}" charset="UTF-8"></script>
</head>

<body>
    <div id="header" th:include="Header">
    </div>
    <div id="side" th:include="SideMenu">
    </div>
    <br>
    <div id="contents">
        <div id="panel-Heading">
            <h1 id="panel_Title">当サイトについて</h1>
        </div>
        <br>
        <div id="child_Contents">
            <br>
            <p>このサイトでは、プログラミング・Web開発などの作業で役立つツールや思いつきで開発した物を公開しています。<br>
                インストールは不要でブラウザですぐに試すことができます。<br></p>
        </div>
        <br>
        <div id="app">
            <h1 id="panel_Title1">更新履歴</h1>
            <br>
            <table id="dataTtable">
                <thead v-pre>
                    <form name="histyTable" id="histyTable_Id" action="">
                        <tr>
                            <th class="version">Ver.</th>
                            <th class="updateDate">更新日時</th>
                            <th class="updateConts">更新内容</th>
                        </tr>
                    </form>
                </thead>
                <tbody>
                    <!--javaScript でリストを追加-->
                </tbody>
            </table>
        </div>
        <br>
        <div id="footer">
        </div>
    </div>
    <input type="hidden" id="histyData" th:value="${histyData}" />
    <input type="hidden" id="errMsg" th:value="${errMsg}" />
</body>
<!--データ読み込む処理-->
<script type="text/javascript">
    window.onload = onLoad;
</script>

</html>