<html>

<head>
    <meta http-equiv="contents-Type" contents="text/html; charset=UTF-8" />

    <title>オンラインWEBツール</title>
    <link rel="stylesheet" th:href="@{css/MarlUsed.css}" type="text/css" />
    <script type="text/javascript" th:src="@{js/library/jquery/jquery.min.js}">charset = "UTF-8"</script>
    <script type="text/javascript" th:src="@{js/Common.js}" charset="UTF-8"></script>
</head>

<body>
    <div id="header" th:include="Header">
    </div>
    <div id="side" th:include="SideMenu">
    </div>
    <br>
    <div id="contents">
        <div id="panel-Heading">
            <h1 id="panel_Title">使用素材のご紹介</h1>
        </div>
        <br>
        <div id="child_Contents">
            <br>
            <p>便利ツールで使用させていただいたBGMなどの引用元を記載しております。</p><br>
            <br>
            <h3 class="muTitle">簡単タイマー</h3>
            <p><pre>  ・タイマーの通知音:  <a class="muLink" href="https://otologic.jp" title="OtoLogic" target="_blank">OtoLogic</a></pre></p>
            <h3 class="muTitle">画像モザイクツール</h3>
            <p><pre>  ・サンプル画像:  <a class="muLink" href="https://www.photo-ac.com/" title="photoAC" target="_blank">写真AC</a></pre></p>
        </div>
        <br>
        <div id="footer">
        </div>
    </div>
</body>
</html>